body{
    padding-top:20px;
}
.table {
    /*border: 1px solid black;*/
    font-size: small;
}
td>input{
    width:25px;
    height:20px;
}
.chess-table td{
    padding:2px;
}
.table thead{
    text-align: center;
}