<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <!--<p>search: <input ng-model="query"></p>-->
            <h2>Scoreboard</h2>
            <p>Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical></option>
                    <option value ="-pts">By points</option>
                </select>
            </p>
            <div ng-include="'partials/scoreboard.html'"></div>
        </div>
        <div class="col-md-7">
            <h2>chess-table</h2>
            <chess-table></chess-table>
        </div>
    </div>
</div>