<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <p>search: <input ng-model="query"></p>
            <p>Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical></option>
                    <option value ="-pts">By points</option>
                </select>
            </p>
            <p>Select teams to match: <br/>
                Team1:
                <select ng-model="teamA">
                    <option ng-repeat="team in teams | orderBy: team.name">
                        {{team.name}}
                    </option>
                </select>
                <br/>
                Team2:
                <select ng-model="teamB">
                    <option ng-repeat="team in teams |orderBy: team.name">
                        {{team.name}}
                    </option>
                </select>
            </p>
            <br/>
            <a href="#/chess-table">Chess-table</a>
        </div>
        <div class="col-md-3">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Team</th>
                    <th>pts</th>
                </tr>
                </thead>
                <tr ng-repeat = "team in teams | filter: query | orderBy: orderProp" class="{{team.range | teamArea}}">
                    <td><a href="#/teams/{{team.name}}"><img class="img-thumbnail img-rounded" ng-src="{{team.imageURL}}"></a></td>
                    <td><a href="#/teams/{{team.name}}">{{team.name}}</a></td>
                    <td>{{team.pts}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6" ng-include src="'partials/teams-match.html'">

        </div>
    </div>
</div>