<div>
    <h2>Tour: {{tourNo}}</h2>
    <!--<button ng-click="logTours()">Log</button>-->
    <table class="table  table-bordered tour-info">
        <thead>
            <td>team 1</td>
            <td colspan="2">score</td>
            <td>team2</td>
        </thead>
        <tr ng-repeat="(i, match) in matches">
            <td class="team1">{{teams[match.team1].name}}</td>
            <td><input type="text" ng-model="match.result1">{{matchesData[match.team1][match.team2].result1}}</td>
            <td><input type="text" ng-model="match.result2">{{matchesData[match.team1][match.team2].result2}}</td>
            <td class="team2">{{teams[match.team2].name}}</td>
        </tr>
    </table>
    <button ng-click="submit()">submit</button>

</div>

